# Esercizio Dal database AdventureWorks

### Estraiamo la tabella dimproduct

In [6]:
from sqlalchemy import create_engine
import pandas as pd

username = "studente_dapt"
password = "Ep1c0d3!!D4t4**4n4lys1s"
host = "epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com"
dbname = "AdventureWorksDW"

engine = create_engine(
    f"mysql+pymysql://{username}:{password}@{host}:3306/{dbname}"
)

df = pd.read_sql("SELECT * FROM dimproduct", engine)
print(df.head())

   ProductKey ProductAlternateKey  ProductSubcategoryKey  \
0           1             AR-5381                    NaN
1           2             BA-8327                    NaN
2           3             BE-2349                    NaN
3           4             BE-2908                    NaN
4           5             BL-2036                    NaN

  WeightUnitMeasureCode SizeUnitMeasureCode     EnglishProductName  \
0                  None                None        Adjustable Race
1                  None                None           Bearing Ball
2                  None                None        BB Ball Bearing
3                  None                None  Headset Ball Bearings
4                  None                None                  Blade

  SpanishProductName FrenchProductName  StandardCost  FinishedGoodsFlag  ...  \
0                                                NaN                  0  ...
1                                                NaN                  0  ...
2                                                NaN                  0  ...
3                                                NaN                  0  ...
4                                                NaN                  0  ...

  ChineseDescription  ArabicDescription  HebrewDescription  ThaiDescription  \
0               None               None               None             None
1               None               None               None             None
2               None               None               None             None
3               None               None               None             None
4               None               None               None             None

  GermanDescription JapaneseDescription  TurkishDescription  StartDate  \
0              None                None                None 2003-07-01
1              None                None                None 2003-07-01
2              None                None                None 2003-07-01
3              None                None                None 2003-07-01
4              None                None                None 2003-07-01

  EndDate   Status
0     NaT  Current
1     NaT  Current
2     NaT  Current
3     NaT  Current
4     NaT  Current

[5 rows x 36 columns]

## Sulla colonna DealerPrice, utilizzando il metodo .round(), arrotondiamo i valori alle due cifre decimali, e poi al valore intero più vicino

In [7]:
df["DealerPrice"] = df["DealerPrice"].round(2)
df["DealerPrice"] = df["DealerPrice"].round()
print(df)

     ProductKey ProductAlternateKey  ProductSubcategoryKey  \
0             1             AR-5381                    NaN
1             2             BA-8327                    NaN
2             3             BE-2349                    NaN
3             4             BE-2908                    NaN
4             5             BL-2036                    NaN
..          ...                 ...                    ...
601         602             BB-8107                    5.0
602         603             BB-9108                    5.0
603         604          BK-R19B-44                    2.0
604         605          BK-R19B-48                    2.0
605         606          BK-R19B-52                    2.0

    WeightUnitMeasureCode SizeUnitMeasureCode     EnglishProductName  \
0                    None                None        Adjustable Race
1                    None                None           Bearing Ball
2                    None                None        BB Ball Bearing
3                    None                None  Headset Ball Bearings
4                    None                None                  Blade
..                    ...                 ...                    ...
601                     G                None      ML Bottom Bracket
602                     G                None      HL Bottom Bracket
603                    LB                  CM     Road-750 Black, 44
604                    LB                  CM     Road-750 Black, 48
605                    LB                  CM     Road-750 Black, 52

            SpanishProductName           FrenchProductName  StandardCost  \
0                                                                    NaN
1                                                                    NaN
2                                                                    NaN
3                                                                    NaN
4                                                                    NaN
..                         ...                         ...           ...
601         Eje de pedalier GM          Axe de pédalier ML         44.95
602         Eje de pedalier GA          Axe de pédalier HL         53.94
603  Carretera: 750, negra, 44  Vélo de route 750 noir, 44        343.65
604  Carretera: 750, negra, 48  Vélo de route 750 noir, 48        343.65
605  Carretera: 750, negra, 52  Vélo de route 750 noir, 52        343.65

     FinishedGoodsFlag  ...                 ChineseDescription  \
0                    0  ...                               None
1                    0  ...                               None
2                    0  ...                               None
3                    0  ...                               None
4                    0  ...                               None
..                 ...  ...                                ...
601                  1  ...                      铝合金车圈；大直径脚蹬轴。
602                  1  ...                         铝合金车圈和空心轴。
603                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。
604                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。
605                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。

                                     ArabicDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601  فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...
602             فناجين من سبيكة الألومنيوم ومحور أجوف.
603  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...
604  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...
605  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...

                                     HebrewDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601           כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.
602               כיסויים מסגסוגת אלומיניום וציר חלול.
603  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...
604  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...
605  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...

                                       ThaiDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601              ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่
602                   ดุมอลูมิเนียมอัลลอยด์และเพลากลวง
603  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...
604  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...
605  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...

                                     GermanDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601  Außenringe aus Aluminiumlegierung; Radachse mi...
602  Außenringe aus Aluminiumlegierung und hohle Ac...
603  Ein Erwachsenenrad für Einsteiger; bietet Komf...
604  Ein Erwachsenenrad für Einsteiger; bietet Komf...
605  Ein Erwachsenenrad für Einsteiger; bietet Komf...

                                   JapaneseDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601                               アルミニウム合金カップ、大径スピンドル。
602                              アルミニウム合金カップとホロー アクスル。
603  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...
604  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...
605  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...

                                    TurkishDescription  StartDate EndDate  \
0                                                 None 2003-07-01     NaT
1                                                 None 2003-07-01     NaT
2                                                 None 2003-07-01     NaT
3                                                 None 2003-07-01     NaT
4                                                 None 2003-07-01     NaT
..                                                 ...        ...     ...
601  Alüminyum alaşımı orta göbekler; geniş çaplı mil. 2013-07-01     NaT
602    Alüminyum alaşımı orta göbekler ve içi boş aks. 2013-07-01     NaT
603  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT
604  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT
605  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT

      Status
0    Current
1    Current
2    Current
3    Current
4    Current
..       ...
601  Current
602  Current
603  Current
604  Current
605  Current

[606 rows x 36 columns]

## Utilizzando il metodo .clip(), facciamo in modo che i valori siano compresi tra un minimo di 0 e un massimo di 1000

In [8]:
df["DealerPrice"] = df["DealerPrice"].clip(lower=0, upper= 55)
print(df)

     ProductKey ProductAlternateKey  ProductSubcategoryKey  \
0             1             AR-5381                    NaN
1             2             BA-8327                    NaN
2             3             BE-2349                    NaN
3             4             BE-2908                    NaN
4             5             BL-2036                    NaN
..          ...                 ...                    ...
601         602             BB-8107                    5.0
602         603             BB-9108                    5.0
603         604          BK-R19B-44                    2.0
604         605          BK-R19B-48                    2.0
605         606          BK-R19B-52                    2.0

    WeightUnitMeasureCode SizeUnitMeasureCode     EnglishProductName  \
0                    None                None        Adjustable Race
1                    None                None           Bearing Ball
2                    None                None        BB Ball Bearing
3                    None                None  Headset Ball Bearings
4                    None                None                  Blade
..                    ...                 ...                    ...
601                     G                None      ML Bottom Bracket
602                     G                None      HL Bottom Bracket
603                    LB                  CM     Road-750 Black, 44
604                    LB                  CM     Road-750 Black, 48
605                    LB                  CM     Road-750 Black, 52

            SpanishProductName           FrenchProductName  StandardCost  \
0                                                                    NaN
1                                                                    NaN
2                                                                    NaN
3                                                                    NaN
4                                                                    NaN
..                         ...                         ...           ...
601         Eje de pedalier GM          Axe de pédalier ML         44.95
602         Eje de pedalier GA          Axe de pédalier HL         53.94
603  Carretera: 750, negra, 44  Vélo de route 750 noir, 44        343.65
604  Carretera: 750, negra, 48  Vélo de route 750 noir, 48        343.65
605  Carretera: 750, negra, 52  Vélo de route 750 noir, 52        343.65

     FinishedGoodsFlag  ...                 ChineseDescription  \
0                    0  ...                               None
1                    0  ...                               None
2                    0  ...                               None
3                    0  ...                               None
4                    0  ...                               None
..                 ...  ...                                ...
601                  1  ...                      铝合金车圈；大直径脚蹬轴。
602                  1  ...                         铝合金车圈和空心轴。
603                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。
604                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。
605                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。

                                     ArabicDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601  فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...
602             فناجين من سبيكة الألومنيوم ومحور أجوف.
603  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...
604  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...
605  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...

                                     HebrewDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601           כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.
602               כיסויים מסגסוגת אלומיניום וציר חלול.
603  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...
604  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...
605  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...

                                       ThaiDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601              ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่
602                   ดุมอลูมิเนียมอัลลอยด์และเพลากลวง
603  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...
604  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...
605  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...

                                     GermanDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601  Außenringe aus Aluminiumlegierung; Radachse mi...
602  Außenringe aus Aluminiumlegierung und hohle Ac...
603  Ein Erwachsenenrad für Einsteiger; bietet Komf...
604  Ein Erwachsenenrad für Einsteiger; bietet Komf...
605  Ein Erwachsenenrad für Einsteiger; bietet Komf...

                                   JapaneseDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601                               アルミニウム合金カップ、大径スピンドル。
602                              アルミニウム合金カップとホロー アクスル。
603  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...
604  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...
605  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...

                                    TurkishDescription  StartDate EndDate  \
0                                                 None 2003-07-01     NaT
1                                                 None 2003-07-01     NaT
2                                                 None 2003-07-01     NaT
3                                                 None 2003-07-01     NaT
4                                                 None 2003-07-01     NaT
..                                                 ...        ...     ...
601  Alüminyum alaşımı orta göbekler; geniş çaplı mil. 2013-07-01     NaT
602    Alüminyum alaşımı orta göbekler ve içi boş aks. 2013-07-01     NaT
603  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT
604  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT
605  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT

      Status
0    Current
1    Current
2    Current
3    Current
4    Current
..       ...
601  Current
602  Current
603  Current
604  Current
605  Current

[606 rows x 36 columns]

## Creiamo un DataFrame sintetico, che contiene i guadagni mensili di diverse annate, con il seguente codice:

years = 5
guadagni = pd.DataFrame({
    "Mese": list("GFMAMGLASOND") * years,   # 12 mesi ripetuti
    "Anno": np.repeat(list(range(1, years+1)), 12),  # 1..5
    "Valore_Guadagni_Mensili": np.random.randint(800, 5000, 12*years)
})

## Calcola la somma cumulativa dei guadagni utilizzando il metodo .cumsum()

In [14]:
import pandas as pd
import numpy as np

years = 5
guadagni = pd.DataFrame({
    "Mese": list("GFMAMGLASOND") * years,   # 12 mesi ripetuti
    "Anno": np.repeat(list(range(1, years+1)), 12),  # 1..5
    "Valore_Guadagni_Mensili": np.random.randint(800, 5000, 12*years)
})

guadagni["SumCumulativa"] = guadagni["Valore_Guadagni_Mensili"].cumsum()
print(guadagni)

   Mese  Anno  Valore_Guadagni_Mensili  SumCumulativa
0     G     1                     2513           2513
1     F     1                     1337           3850
2     M     1                     3020           6870
3     A     1                     4256          11126
4     M     1                     2722          13848
5     G     1                     2188          16036
6     L     1                     3698          19734
7     A     1                     1220          20954
8     S     1                     4454          25408
9     O     1                     1826          27234
10    N     1                     3498          30732
11    D     1                     3553          34285
12    G     2                     1123          35408
13    F     2                     4478          39886
14    M     2                     2556          42442
15    A     2                     1846          44288
16    M     2                     4731          49019
17    G     2                     1145          50164
18    L     2                     3081          53245
19    A     2                     3844          57089
20    S     2                     4074          61163
21    O     2                     1729          62892
22    N     2                     3843          66735
23    D     2                     4595          71330
24    G     3                     1888          73218
25    F     3                     3276          76494
26    M     3                     3753          80247
27    A     3                     3531          83778
28    M     3                     3132          86910
29    G     3                     2598          89508
30    L     3                     2843          92351
31    A     3                     3413          95764
32    S     3                     4158          99922
33    O     3                     1711         101633
34    N     3                     3251         104884
35    D     3                      886         105770
36    G     4                     1525         107295
37    F     4                     3640         110935
38    M     4                     2520         113455
39    A     4                     3934         117389
40    M     4                      871         118260
41    G     4                     4142         122402
42    L     4                     2245         124647
43    A     4                     3090         127737
44    S     4                      968         128705
45    O     4                     1455         130160
46    N     4                     2177         132337
47    D     4                     4331         136668
48    G     5                     1823         138491
49    F     5                     3446         141937
50    M     5                     3754         145691
51    A     5                     4523         150214
52    M     5                      827         151041
53    G     5                     1218         152259
54    L     5                     1364         153623
55    A     5                     2054         155677
56    S     5                     4041         159718
57    O     5                     2907         162625
58    N     5                     3386         166011
59    D     5                     4332         170343

## Come sopra, ma raggruppato per ogni anno usando prima un .groupby()

In [17]:
import pandas as pd
import numpy as np

years = 5
guadagni = pd.DataFrame({
    "Mese": list("GFMAMGLASOND") * years,   # 12 mesi ripetuti
    "Anno": np.repeat(list(range(1, years+1)), 12),  # 1..5
    "Valore_Guadagni_Mensili": np.random.randint(800, 5000, 12*years)
})

guadagni["SumCumulativa"] = guadagni.groupby("Anno")["Valore_Guadagni_Mensili"].cumsum()
print(guadagni)

   Mese  Anno  Valore_Guadagni_Mensili  SumCumulativa
0     G     1                     4329           4329
1     F     1                     2790           7119
2     M     1                     1560           8679
3     A     1                     1776          10455
4     M     1                     3873          14328
5     G     1                     3728          18056
6     L     1                     1051          19107
7     A     1                     2009          21116
8     S     1                     1280          22396
9     O     1                     3585          25981
10    N     1                     2937          28918
11    D     1                     3373          32291
12    G     2                     2581           2581
13    F     2                     3548           6129
14    M     2                     4671          10800
15    A     2                     3239          14039
16    M     2                     1536          15575
17    G     2                     1900          17475
18    L     2                     4141          21616
19    A     2                     4154          25770
20    S     2                     1972          27742
21    O     2                     1918          29660
22    N     2                     2419          32079
23    D     2                     1402          33481
24    G     3                     2874           2874
25    F     3                     2907           5781
26    M     3                     3689           9470
27    A     3                     2267          11737
28    M     3                     1173          12910
29    G     3                     4608          17518
30    L     3                     1175          18693
31    A     3                     3185          21878
32    S     3                     1917          23795
33    O     3                     2226          26021
34    N     3                     2734          28755
35    D     3                     4173          32928
36    G     4                     1973           1973
37    F     4                     2413           4386
38    M     4                     1483           5869
39    A     4                     2413           8282
40    M     4                     4017          12299
41    G     4                     3878          16177
42    L     4                     1221          17398
43    A     4                     3662          21060
44    S     4                     3708          24768
45    O     4                     4585          29353
46    N     4                     3573          32926
47    D     4                      826          33752
48    G     5                     1411           1411
49    F     5                     2193           3604
50    M     5                     2670           6274
51    A     5                     4822          11096
52    M     5                     1646          12742
53    G     5                     4044          16786
54    L     5                     3843          20629
55    A     5                     2532          23161
56    S     5                     2308          25469
57    O     5                     3508          28977
58    N     5                     2927          31904
59    D     5                     3026          34930

## Dal database AdventureWorks estraiamo la tabella dimcustomer

In [19]:
df = pd.read_sql("SELECT * FROM dimcustomer", engine)
print(df.head())

   CustomerKey  GeographyKey CustomerAlternateKey Title  FirstName MiddleName  \
0        11000            26           AW00011000  None        Jon          V
1        11001            37           AW00011001  None     Eugene          L
2        11002            31           AW00011002  None      Ruben       None
3        11003            11           AW00011003  None    Christy       None
4        11004            19           AW00011004  None  Elizabeth       None

  LastName  NameStyle   BirthDate MaritalStatus  ... EnglishOccupation  \
0     Yang          0  1971-10-06             M  ...      Professional
1    Huang          0  1976-05-10             S  ...      Professional
2   Torres          0  1971-02-09             M  ...      Professional
3      Zhu          0  1973-08-14             S  ...      Professional
4  Johnson          0  1979-08-05             S  ...      Professional

  SpanishOccupation FrenchOccupation  HouseOwnerFlag  NumberCarsOwned  \
0       Profesional            Cadre               1                0
1       Profesional            Cadre               0                1
2       Profesional            Cadre               1                1
3       Profesional            Cadre               0                1
4       Profesional            Cadre               1                4

          AddressLine1 AddressLine2                Phone DateFirstPurchase  \
0      3761 N. 14th St         None  1 (11) 500 555-0162        2011-01-19
1           2243 W St.         None  1 (11) 500 555-0110        2011-01-15
2     5844 Linden Land         None  1 (11) 500 555-0184        2011-01-07
3     1825 Village Pl.         None  1 (11) 500 555-0162        2010-12-29
4  7553 Harness Circle         None  1 (11) 500 555-0131        2011-01-23

  CommuteDistance
0       1-2 Miles
1       0-1 Miles
2       2-5 Miles
3      5-10 Miles
4       1-2 Miles

[5 rows x 29 columns]

## Trasformiamo i nomi dei clienti in modo che abbiano solo lettere minuscole, e i cognomi in modo che abbiano solo lettere maiuscole

In [21]:
df["FirstName"] = df["FirstName"].str.lower
df["LastName"] = df["LastName"].str.upper

print(df)

       CustomerKey  GeographyKey CustomerAlternateKey Title  \
0            11000            26           AW00011000  None
1            11001            37           AW00011001  None
2            11002            31           AW00011002  None
3            11003            11           AW00011003  None
4            11004            19           AW00011004  None
...            ...           ...                  ...   ...
18479        29479           209           AW00029479  None
18480        29480           248           AW00029480  None
18481        29481           120           AW00029481  None
18482        29482           179           AW00029482  None
18483        29483           217           AW00029483  None

                                               FirstName MiddleName  \
0      <bound method StringMethods.lower of <pandas.c...          V
1      <bound method StringMethods.lower of <pandas.c...          L
2      <bound method StringMethods.lower of <pandas.c...       None
3      <bound method StringMethods.lower of <pandas.c...       None
4      <bound method StringMethods.lower of <pandas.c...       None
...                                                  ...        ...
18479  <bound method StringMethods.lower of <pandas.c...          L
18480  <bound method StringMethods.lower of <pandas.c...          W
18481  <bound method StringMethods.lower of <pandas.c...       None
18482  <bound method StringMethods.lower of <pandas.c...       None
18483  <bound method StringMethods.lower of <pandas.c...          L

                                                LastName  NameStyle  \
0      <bound method StringMethods.upper of <pandas.c...          0
1      <bound method StringMethods.upper of <pandas.c...          0
2      <bound method StringMethods.upper of <pandas.c...          0
3      <bound method StringMethods.upper of <pandas.c...          0
4      <bound method StringMethods.upper of <pandas.c...          0
...                                                  ...        ...
18479  <bound method StringMethods.upper of <pandas.c...          0
18480  <bound method StringMethods.upper of <pandas.c...          0
18481  <bound method StringMethods.upper of <pandas.c...          0
18482  <bound method StringMethods.upper of <pandas.c...          0
18483  <bound method StringMethods.upper of <pandas.c...          0

        BirthDate MaritalStatus  ... EnglishOccupation SpanishOccupation  \
0      1971-10-06             M  ...      Professional       Profesional
1      1976-05-10             S  ...      Professional       Profesional
2      1971-02-09             M  ...      Professional       Profesional
3      1973-08-14             S  ...      Professional       Profesional
4      1979-08-05             S  ...      Professional       Profesional
...           ...           ...  ...               ...               ...
18479  1969-06-30             M  ...          Clerical    Administrativo
18480  1977-05-06             S  ...          Clerical    Administrativo
18481  1965-07-04             S  ...          Clerical    Administrativo
18482  1964-09-01             M  ...          Clerical    Administrativo
18483  1965-06-06             M  ...          Clerical    Administrativo

      FrenchOccupation  HouseOwnerFlag  NumberCarsOwned  \
0                Cadre               1                0
1                Cadre               0                1
2                Cadre               1                1
3                Cadre               0                1
4                Cadre               1                4
...                ...             ...              ...
18479          Employé               1                0
18480          Employé               1                0
18481          Employé               0                0
18482          Employé               1                0
18483          Employé               1                0

                    AddressLine1 AddressLine2                Phone  \
0                3761 N. 14th St         None  1 (11) 500 555-0162
1                     2243 W St.         None  1 (11) 500 555-0110
2               5844 Linden Land         None  1 (11) 500 555-0184
3               1825 Village Pl.         None  1 (11) 500 555-0162
4            7553 Harness Circle         None  1 (11) 500 555-0131
...                          ...          ...                  ...
18479          111, rue Maillard         None  1 (11) 500 555-0136
18480          9 Katherine Drive         None  1 (11) 500 555-0146
18481                Knaackstr 4         None  1 (11) 500 555-0144
18482     1080, quai de Grenelle         None  1 (11) 500 555-0137
18483  244, rue de la Centenaire         None  1 (11) 500 555-0141

      DateFirstPurchase CommuteDistance
0            2011-01-19       1-2 Miles
1            2011-01-15       0-1 Miles
2            2011-01-07       2-5 Miles
3            2010-12-29      5-10 Miles
4            2011-01-23       1-2 Miles
...                 ...             ...
18479        2012-09-04       0-1 Miles
18480        2013-07-17       0-1 Miles
18481        2011-08-13       0-1 Miles
18482        2012-09-18       0-1 Miles
18483        2012-09-09       0-1 Miles

[18484 rows x 29 columns]

## Sulla colonna EmailAddress, utilizzando il metodo .str.split(), estraiamo nome utente e dominio

In [27]:
df["EmailAddress"]
df["User"] = df["EmailAddress"].str.split("@").str[0]
df["Domain"] = df["EmailAddress"].str.split("@").str[1]

print(df[["User", "Domain"]])

             User               Domain
0           jon24  adventure-works.com
1        eugene10  adventure-works.com
2         ruben35  adventure-works.com
3       christy12  adventure-works.com
4      elizabeth5  adventure-works.com
...           ...                  ...
18479      tommy2  adventure-works.com
18480      nina21  adventure-works.com
18481       ivan0  adventure-works.com
18482    clayton0  adventure-works.com
18483      jésus9  adventure-works.com

[18484 rows x 2 columns]

## Sulla colonna Phone, estraiamo ogni parte del numero (ad es. da "1 (11) 500 555-0162" a ["1", "(11)", "500", "555-0162"])

In [ ]:
df["PhoneParts"] = df["Phone"].str.split(" ")
print(df)

       CustomerKey  GeographyKey CustomerAlternateKey Title  \
0            11000            26           AW00011000  None
1            11001            37           AW00011001  None
2            11002            31           AW00011002  None
3            11003            11           AW00011003  None
4            11004            19           AW00011004  None
...            ...           ...                  ...   ...
18479        29479           209           AW00029479  None
18480        29480           248           AW00029480  None
18481        29481           120           AW00029481  None
18482        29482           179           AW00029482  None
18483        29483           217           AW00029483  None

                                               FirstName MiddleName  \
0      <bound method StringMethods.lower of <pandas.c...          V
1      <bound method StringMethods.lower of <pandas.c...          L
2      <bound method StringMethods.lower of <pandas.c...       None
3      <bound method StringMethods.lower of <pandas.c...       None
4      <bound method StringMethods.lower of <pandas.c...       None
...                                                  ...        ...
18479  <bound method StringMethods.lower of <pandas.c...          L
18480  <bound method StringMethods.lower of <pandas.c...          W
18481  <bound method StringMethods.lower of <pandas.c...       None
18482  <bound method StringMethods.lower of <pandas.c...       None
18483  <bound method StringMethods.lower of <pandas.c...          L

                                                LastName  NameStyle  \
0      <bound method StringMethods.upper of <pandas.c...          0
1      <bound method StringMethods.upper of <pandas.c...          0
2      <bound method StringMethods.upper of <pandas.c...          0
3      <bound method StringMethods.upper of <pandas.c...          0
4      <bound method StringMethods.upper of <pandas.c...          0
...                                                  ...        ...
18479  <bound method StringMethods.upper of <pandas.c...          0
18480  <bound method StringMethods.upper of <pandas.c...          0
18481  <bound method StringMethods.upper of <pandas.c...          0
18482  <bound method StringMethods.upper of <pandas.c...          0
18483  <bound method StringMethods.upper of <pandas.c...          0

        BirthDate MaritalStatus  ... HouseOwnerFlag NumberCarsOwned  \
0      1971-10-06             M  ...              1               0
1      1976-05-10             S  ...              0               1
2      1971-02-09             M  ...              1               1
3      1973-08-14             S  ...              0               1
4      1979-08-05             S  ...              1               4
...           ...           ...  ...            ...             ...
18479  1969-06-30             M  ...              1               0
18480  1977-05-06             S  ...              1               0
18481  1965-07-04             S  ...              0               0
18482  1964-09-01             M  ...              1               0
18483  1965-06-06             M  ...              1               0

                    AddressLine1  AddressLine2                Phone  \
0                3761 N. 14th St          None  1 (11) 500 555-0162
1                     2243 W St.          None  1 (11) 500 555-0110
2               5844 Linden Land          None  1 (11) 500 555-0184
3               1825 Village Pl.          None  1 (11) 500 555-0162
4            7553 Harness Circle          None  1 (11) 500 555-0131
...                          ...           ...                  ...
18479          111, rue Maillard          None  1 (11) 500 555-0136
18480          9 Katherine Drive          None  1 (11) 500 555-0146
18481                Knaackstr 4          None  1 (11) 500 555-0144
18482     1080, quai de Grenelle          None  1 (11) 500 555-0137
18483  244, rue de la Centenaire          None  1 (11) 500 555-0141

       DateFirstPurchase CommuteDistance        User               Domain  \
0             2011-01-19       1-2 Miles       jon24  adventure-works.com
1             2011-01-15       0-1 Miles    eugene10  adventure-works.com
2             2011-01-07       2-5 Miles     ruben35  adventure-works.com
3             2010-12-29      5-10 Miles   christy12  adventure-works.com
4             2011-01-23       1-2 Miles  elizabeth5  adventure-works.com
...                  ...             ...         ...                  ...
18479         2012-09-04       0-1 Miles      tommy2  adventure-works.com
18480         2013-07-17       0-1 Miles      nina21  adventure-works.com
18481         2011-08-13       0-1 Miles       ivan0  adventure-works.com
18482         2012-09-18       0-1 Miles    clayton0  adventure-works.com
18483         2012-09-09       0-1 Miles      jésus9  adventure-works.com

                     PhoneParts
0      [1, (11), 500, 555-0162]
1      [1, (11), 500, 555-0110]
2      [1, (11), 500, 555-0184]
3      [1, (11), 500, 555-0162]
4      [1, (11), 500, 555-0131]
...                         ...
18479  [1, (11), 500, 555-0136]
18480  [1, (11), 500, 555-0146]
18481  [1, (11), 500, 555-0144]
18482  [1, (11), 500, 555-0137]
18483  [1, (11), 500, 555-0141]

[18484 rows x 32 columns]

## Utilizzando il metodo .str.contains(), estraiamo tutti gli indirizzi e-mail che contengono il numero "21"

In [31]:
df["EmailAddress"]
df.loc[df["EmailAddress"].str.contains("21", regex=False)]
print(df["EmailAddress"])

0             jon24@adventure-works.com
1          eugene10@adventure-works.com
2           ruben35@adventure-works.com
3         christy12@adventure-works.com
4        elizabeth5@adventure-works.com
                      ...
18479        tommy2@adventure-works.com
18480        nina21@adventure-works.com
18481         ivan0@adventure-works.com
18482      clayton0@adventure-works.com
18483        jésus9@adventure-works.com
Name: EmailAddress, Length: 18484, dtype: object

## Estraiamo tutti gli indirizzi e-mail che contengono il numero "20" oppure il numero "10"

In [33]:
email_20_10 = df[df["EmailAddress"].str.contains("20|10")]
print(email_20_10)

       CustomerKey  GeographyKey CustomerAlternateKey Title  \
1            11001            37           AW00011001  None
10           11010            22           AW00011010  None
22           11022           609           AW00011022  None
30           11030            28           AW00011030  None
32           11032            35           AW00011032  None
...            ...           ...                  ...   ...
18395        29395           203           AW00029395  None
18397        29397           193           AW00029397  None
18415        29415           223           AW00029415  None
18418        29418           163           AW00029418  None
18428        29428           156           AW00029428  None

                                               FirstName MiddleName  \
1      <bound method StringMethods.lower of <pandas.c...          L
10     <bound method StringMethods.lower of <pandas.c...          C
22     <bound method StringMethods.lower of <pandas.c...          G
30     <bound method StringMethods.lower of <pandas.c...          G
32     <bound method StringMethods.lower of <pandas.c...       None
...                                                  ...        ...
18395  <bound method StringMethods.lower of <pandas.c...       None
18397  <bound method StringMethods.lower of <pandas.c...          E
18415  <bound method StringMethods.lower of <pandas.c...          L
18418  <bound method StringMethods.lower of <pandas.c...       None
18428  <bound method StringMethods.lower of <pandas.c...          E

                                                LastName  NameStyle  \
1      <bound method StringMethods.upper of <pandas.c...          0
10     <bound method StringMethods.upper of <pandas.c...          0
22     <bound method StringMethods.upper of <pandas.c...          0
30     <bound method StringMethods.upper of <pandas.c...          0
32     <bound method StringMethods.upper of <pandas.c...          0
...                                                  ...        ...
18395  <bound method StringMethods.upper of <pandas.c...          0
18397  <bound method StringMethods.upper of <pandas.c...          0
18415  <bound method StringMethods.upper of <pandas.c...          0
18418  <bound method StringMethods.upper of <pandas.c...          0
18428  <bound method StringMethods.upper of <pandas.c...          0

        BirthDate MaritalStatus  ... HouseOwnerFlag NumberCarsOwned  \
1      1976-05-10             S  ...              0               1
10     1969-08-05             S  ...              0               1
22     1984-04-10             M  ...              1               1
30     1958-02-18             M  ...              1               2
32     1952-12-08             M  ...              1               2
...           ...           ...  ...            ...             ...
18395  1939-10-06             S  ...              0               1
18397  1976-05-10             M  ...              1               1
18415  1983-03-25             S  ...              1               1
18418  1981-04-19             S  ...              0               1
18428  1979-12-09             M  ...              1               2

                         AddressLine1       AddressLine2                Phone  \
1                          2243 W St.               None  1 (11) 500 555-0110
10                7800 Corrinne Court               None  1 (11) 500 555-0169
22                1769 Nicholas Drive               None         589-555-0185
30                  636 Vine Hill Way               None  1 (11) 500 555-0182
32                 626 Bentley Street               None  1 (11) 500 555-0169
...                               ...                ...                  ...
18395     182, avenue des Laurentides               None  1 (11) 500 555-0182
18397              2408, rue Maillard               None  1 (11) 500 555-0143
18415  816, avenue des Champs-Elysées               None  1 (11) 500 555-0112
18418                     Zollstr 680  Verkaufsabteilung  1 (11) 500 555-0134
18428           Altendorfer Straße 39  Einkaufsabteilung  1 (11) 500 555-0183

       DateFirstPurchase CommuteDistance          User               Domain  \
1             2011-01-15       0-1 Miles      eugene10  adventure-works.com
10            2011-01-14      5-10 Miles   jacquelyn20  adventure-works.com
22            2013-01-20      5-10 Miles       ethan20  adventure-works.com
30            2011-02-05       1-2 Miles     bethany10  adventure-works.com
32            2011-02-18       1-2 Miles      denise10  adventure-works.com
...                  ...             ...           ...                  ...
18395         2013-12-05       1-2 Miles       lydia10  adventure-works.com
18397         2012-08-08       0-1 Miles      walter10  adventure-works.com
18415         2012-08-02       2-5 Miles       oscar20  adventure-works.com
18418         2013-12-22      5-10 Miles     lindsey10  adventure-works.com
18428         2013-02-05       1-2 Miles  kristopher20  adventure-works.com

                     PhoneParts
1      [1, (11), 500, 555-0110]
10     [1, (11), 500, 555-0169]
22               [589-555-0185]
30     [1, (11), 500, 555-0182]
32     [1, (11), 500, 555-0169]
...                         ...
18395  [1, (11), 500, 555-0182]
18397  [1, (11), 500, 555-0143]
18415  [1, (11), 500, 555-0112]
18418  [1, (11), 500, 555-0134]
18428  [1, (11), 500, 555-0183]

[1042 rows x 32 columns]

## Calcolare la lunghezza di ogni indirizzo e-mail ed estrarre i cinque più lunghi e i cinque più corti

In [35]:
df["EmailLength"] = df["EmailAddress"].str.len()

df_long = df.sort_values("EmailLength", ascending=False).head(5)
df_short = df.sort_values("EmailLength", ascending=True).head(5)

print(df_long)
print(df_short)

       CustomerKey  GeographyKey CustomerAlternateKey Title  \
8768         19768           310           AW00019768  None
979          11979            69           AW00011979  None
14171        25171           543           AW00025171  None
17017        28017           611           AW00028017  None
1767         12767           648           AW00012767  None

                                               FirstName MiddleName  \
8768   <bound method StringMethods.lower of <pandas.c...          C
979    <bound method StringMethods.lower of <pandas.c...       None
14171  <bound method StringMethods.lower of <pandas.c...          E
17017  <bound method StringMethods.lower of <pandas.c...          B
1767   <bound method StringMethods.lower of <pandas.c...          A

                                                LastName  NameStyle  \
8768   <bound method StringMethods.upper of <pandas.c...          0
979    <bound method StringMethods.upper of <pandas.c...          0
14171  <bound method StringMethods.upper of <pandas.c...          0
17017  <bound method StringMethods.upper of <pandas.c...          0
1767   <bound method StringMethods.upper of <pandas.c...          0

        BirthDate MaritalStatus  ... NumberCarsOwned           AddressLine1  \
8768   1986-04-15             S  ...               2    5378 Kentucky Drive
979    1962-11-05             M  ...               2      9234 Carmel Drive
14171  1974-03-18             M  ...               1      891 Thornwood Dr.
17017  1950-12-22             S  ...               3      4061 Vinewood Dr.
1767   1960-05-02             M  ...               1  9863 Mt. Mckinley Ct.

      AddressLine2         Phone  DateFirstPurchase  CommuteDistance  \
8768          None  178-555-0116         2013-04-21        1-2 Miles
979           None  130-555-0198         2013-02-14        1-2 Miles
14171         None  959-555-0135         2013-04-26        10+ Miles
17017         None  332-555-0176         2011-02-11        1-2 Miles
1767          None  910-555-0123         2013-08-23       5-10 Miles

                User               Domain      PhoneParts EmailLength
8768   christopher12  adventure-works.com  [178-555-0116]          33
979    christopher25  adventure-works.com  [130-555-0198]          33
14171  christopher20  adventure-works.com  [959-555-0135]          33
17017  christopher15  adventure-works.com  [332-555-0176]          33
1767   christopher18  adventure-works.com  [910-555-0123]          33

[5 rows x 33 columns]
       CustomerKey  GeographyKey CustomerAlternateKey Title  \
3974         14974           249           AW00014974   Mr.
15299        26299           642           AW00026299  None
13151        24151           277           AW00024151  None
53           11053           359           AW00011053  None
17877        28877           246           AW00028877  None

                                               FirstName MiddleName  \
3974   <bound method StringMethods.lower of <pandas.c...       None
15299  <bound method StringMethods.lower of <pandas.c...         L.
13151  <bound method StringMethods.lower of <pandas.c...       None
53     <bound method StringMethods.lower of <pandas.c...          E
17877  <bound method StringMethods.lower of <pandas.c...          L

                                                LastName  NameStyle  \
3974   <bound method StringMethods.upper of <pandas.c...          0
15299  <bound method StringMethods.upper of <pandas.c...          0
13151  <bound method StringMethods.upper of <pandas.c...          0
53     <bound method StringMethods.upper of <pandas.c...          0
17877  <bound method StringMethods.upper of <pandas.c...          0

        BirthDate MaritalStatus  ... NumberCarsOwned           AddressLine1  \
3974   1984-12-29             S  ...               2        3272 Ryan Court
15299  1983-07-24             S  ...               0     5387 La Orinda Pl.
13151  1961-02-18             S  ...               0        2050 B Avenue I
53     1986-02-17             M  ...               2  1660 Stonyhill Circle
17877  1963-05-24             S  ...               4   2318 Pleasant Circle

      AddressLine2                Phone  DateFirstPurchase  CommuteDistance  \
3974          None         156-555-0100         2013-03-31        0-1 Miles
15299         None         856-555-0157         2012-02-15        0-1 Miles
13151         None  1 (11) 500 555-0180         2013-08-30        0-1 Miles
53            None         859-555-0113         2013-01-17        1-2 Miles
17877         None  1 (11) 500 555-0119         2013-02-28       5-10 Miles

       User               Domain                PhoneParts EmailLength
3974     k0  adventure-works.com            [156-555-0100]          22
15299    y0  adventure-works.com            [856-555-0157]          22
13151  jon6  adventure-works.com  [1, (11), 500, 555-0180]          24
53     ana0  adventure-works.com            [859-555-0113]          24
17877  joe8  adventure-works.com  [1, (11), 500, 555-0119]          24

[5 rows x 33 columns]

## Modificare il dominio degli indirizzi e-mail da "adventure-works.com" a "aw-db.com" mediante il metodo .str.replace()

In [36]:
df["NewEmailAddress"] = df["EmailAddress"].str.replace( "adventure-works.com", "aw-db.com")
print(df["NewEmailAddress"])

0             jon24@aw-db.com
1          eugene10@aw-db.com
2           ruben35@aw-db.com
3         christy12@aw-db.com
4        elizabeth5@aw-db.com
                 ...
18479        tommy2@aw-db.com
18480        nina21@aw-db.com
18481         ivan0@aw-db.com
18482      clayton0@aw-db.com
18483        jésus9@aw-db.com
Name: NewEmailAddress, Length: 18484, dtype: object

## Dalla colonna AddressLine1 estraiamo tutti gli indirizzi che contengono la sottostringa "Street"

In [40]:
df_street = df[df["AddressLine1"].str.contains("Street", na=False)]
print(df_street["AddressLine1"])

7              942 Brook Street
12            4785 Scott Street
32           626 Bentley Street
63           4927 Virgil Street
125          8481 Zartop Street
                  ...
18273        2155 Zartop Street
18292         3931 Scott Street
18323    134 Peachwillow Street
18333       1023 Hawkins Street
18351          8618 Rose Street
Name: AddressLine1, Length: 512, dtype: object

## Dai beginner_datasets carichiamo in un DataFrame il file facebook.csv, che contiene dei post con data di pubblicazione, tipo (foto, video, …) e numero di reactions raccolte:

In [13]:
import pandas as pd

df_fb = pd.read_csv("../beginner_datasets/facebook.csv")
print(df_fb.head())

                          status_id status_type status_published  \
0  246675545449582_1649696485147474       video   4/22/2018 6:00
1  246675545449582_1649426988507757       photo  4/21/2018 22:45
2  246675545449582_1648730588577397       video   4/21/2018 6:17
3  246675545449582_1648576705259452       photo   4/21/2018 2:29
4  246675545449582_1645700502213739       photo   4/18/2018 3:22

   num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
0            529           512         262        432         92         3
1            150             0           0        150          0         0
2            227           236          57        204         21         1
3            111             0           0        111          0         0
4            213             0           0        204          9         0

   num_hahas  num_sads  num_angrys
0          1         1           0
1          0         0           0
2          1         0           0
3          0         0           0
4          0         0           0

## Con la funzione pd.to_datetime() convertiamo la colonna status_published in formato Timestamp

In [14]:
df_fb["Timestamp"] = pd.to_datetime(df_fb["status_published"])
print(df_fb.head())

                          status_id status_type status_published  \
0  246675545449582_1649696485147474       video   4/22/2018 6:00
1  246675545449582_1649426988507757       photo  4/21/2018 22:45
2  246675545449582_1648730588577397       video   4/21/2018 6:17
3  246675545449582_1648576705259452       photo   4/21/2018 2:29
4  246675545449582_1645700502213739       photo   4/18/2018 3:22

   num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
0            529           512         262        432         92         3
1            150             0           0        150          0         0
2            227           236          57        204         21         1
3            111             0           0        111          0         0
4            213             0           0        204          9         0

   num_hahas  num_sads  num_angrys           Timestamp
0          1         1           0 2018-04-22 06:00:00
1          0         0           0 2018-04-21 22:45:00
2          1         0           0 2018-04-21 06:17:00
3          0         0           0 2018-04-21 02:29:00
4          0         0           0 2018-04-18 03:22:00

## Utilizzando gli attributi .dt.year , .dt.month , .dt.day , .dt.dayofweek , .dt.dayofyear, ottieniamo informazioni specifiche sulle date delle transazioni, come l'anno, il mese, il giorno della settimana, il giorno dell'anno, eccetera

In [15]:
df_fb["Timestamp"] = pd.to_datetime(df_fb["status_published"])
df_fb["Year"] = df_fb["Timestamp"].dt.year
df_fb["Month"] = df_fb["Timestamp"].dt.month
df_fb["Day"] = df_fb["Timestamp"].dt.day
df_fb["Day_of_Week"] = df_fb["Timestamp"].dt.dayofweek
print(df_fb[["Year", "Month", "Day", "Day_of_Week"]].head())

   Year  Month  Day  Day_of_Week
0  2018      4   22            6
1  2018      4   21            5
2  2018      4   21            5
3  2018      4   21            5
4  2018      4   18            2

## Estraiamo solo i post relativi al 2012

In [ ]:
df_2012 = df_fb[df_fb["Year"] == 2012]
print(df_2012.head())

Empty DataFrame
Columns: [status_id, status_type, status_published, num_reactions, num_comments, num_shares, num_likes, num_loves, num_wows, num_hahas, num_sads, num_angrys, Timestamp, Year, Month, Day, Day_of_Week]
Index: []

## Estraiamo solo i post relativi a maggio 2018

In [20]:
df_maggio_2018 = df_fb[(df_fb["Year"] == 2018) & (df_fb["Month"] == 5)]
print(df_maggio_2018.head())

                            status_id status_type status_published  \
2690  134115277150304_264554297439734       photo  5/31/2018 12:17
2691  134115277150304_264493694112461       photo   5/31/2018 8:37
2692  134115277150304_264416247453539       photo   5/31/2018 3:12
2693  134115277150304_264168277478336       photo   5/30/2018 8:46
2694  134115277150304_264160757479088       photo   5/30/2018 8:24

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
2690             11             0           0         10          0         1
2691             56             4           2         55          1         0
2692             72            13           1         69          3         0
2693             10             0           0         10          0         0
2694             56             3          12         54          2         0

      num_hahas  num_sads  num_angrys           Timestamp  Year  Month  Day  \
2690          0         0           0 2018-05-31 12:17:00  2018      5   31
2691          0         0           0 2018-05-31 08:37:00  2018      5   31
2692          0         0           0 2018-05-31 03:12:00  2018      5   31
2693          0         0           0 2018-05-30 08:46:00  2018      5   30
2694          0         0           0 2018-05-30 08:24:00  2018      5   30

      Day_of_Week
2690            3
2691            3
2692            3
2693            2
2694            2

## Confrontiamo il numero di post pubblicati nei weekend rispetto al numero di post pubblicati nel resto della settimana

In [24]:
weekend_posts = df_fb[df_fb["Day_of_Week"].isin([5, 6])]
weekday_posts = df_fb[~df_fb["Day_of_Week"].isin([5, 6])]

print("Posts weekend:", len(weekend_posts))
print("Posts weekdays:", len(weekday_posts))

Posts weekend: 2041
Posts weekdays: 5009

## Troviamo il primo e ultimo post pubblicati in ogni anno

In [29]:
df_fb["Timestamp"] = pd.to_datetime(df_fb["status_published"])
df_fb["Year"] = df_fb["Timestamp"].dt.year

primi_ultimi = (df_fb.groupby("Year")["Timestamp"].agg(["min", "max"]))

print(primi_ultimi)

                     min                 max
Year
2012 2012-07-15 02:51:00 2012-12-23 03:11:00
2013 2013-01-02 02:23:00 2013-12-31 23:38:00
2014 2014-01-05 09:23:00 2014-12-10 07:42:00
2015 2015-01-02 03:41:00 2015-12-31 08:20:00
2016 2016-01-03 04:23:00 2016-12-31 05:13:00
2017 2017-01-02 08:25:00 2017-12-31 22:15:00
2018 2018-01-01 01:39:00 2018-06-13 01:12:00

## Quanti tipi di post ci sono? E quanti per ogni tipo?

In [30]:
df_fb["status_type"].unique()
df_fb["status_type"].value_counts()

status_type
photo     4288
video     2334
status     365
link        63
Name: count, dtype: int64

## Dai beginner_dataset carichiamo in un DataFrame il file pokemon.csv:

In [33]:
import pandas as pd

df_poke = pd.read_csv("../beginner_datasets/pokemon.csv")
print(df_poke.head())

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4             Charmander   Fire     NaN    309  39      52       43

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False

## Tramite i metodi .isnull() e .sum() controlliamo se ci sono valori nulli nel dataset e contiamo quanti valori nulli ci sono in ogni colonna

In [36]:
print(df_poke.isnull().sum().sum())

386

## Ci sono valori nulli?

Si, ce ne sono 386

## Se sì, avrebbe senso cercare di riempirli?

No, perchè non saprei che valore o stringa mettere.

## Eliminiamo le righe che contengono valori nulli

In [42]:
df_poke = df_poke.dropna(subset=["Type 2"])
print(df_poke.isnull().sum().sum())

0

## Dai beginner_dataset carichiamo in un DataFrame il file automobile.csv:

In [44]:
import pandas as pd

df_auto = pd.read_csv("../beginner_datasets/automobile.csv")
print(df_auto.head())

   symboling  normalized-losses         make fuel-type aspiration  \
0          3                NaN  alfa-romero       gas        std
1          3                NaN  alfa-romero       gas        std
2          1                NaN  alfa-romero       gas        std
3          2              164.0         audi       gas        std
4          2              164.0         audi       gas        std

  num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0          two  convertible          rwd           front        88.6  ...
1          two  convertible          rwd           front        88.6  ...
2          two    hatchback          rwd           front        94.5  ...
3         four        sedan          fwd           front        99.8  ...
4         four        sedan          4wd           front        99.4  ...

   engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0          130         mpfi  3.47    2.68               9.0        111
1          130         mpfi  3.47    2.68               9.0        111
2          152         mpfi  2.68    3.47               9.0        154
3          109         mpfi  3.19     3.4              10.0        102
4          136         mpfi  3.19     3.4               8.0        115

   peak-rpm city-mpg highway-mpg  price
0      5000       21          27  13495
1      5000       21          27  16500
2      5000       19          26  16500
3      5500       24          30  13950
4      5500       18          22  17450

[5 rows x 26 columns]

## Ci sono valori nulli? Dove? Quanti?

In [45]:
print(df_auto.isnull().sum())

symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  0
stroke                0
compression-ratio     0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

normalized-losses    37
num-of-doors          2

## Quali righe hanno un valore nullo nella colonna num-of-doors?

In [46]:
df_auto[df_auto["num-of-doors"].isnull()]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
26,1,148.0,dodge,gas,turbo,NaN,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
60,0,NaN,mazda,diesel,std,NaN,sedan,fwd,front,98.8,...,122,idi,3.39,3.39,22.7,64,4650,36,42,10795

## Esaminando i dati nel dataset, cerchiamo una logica per sostituire i valori nulli nella colonna num-of-doors

In [49]:
df_auto["num-of-doors"].unique()

array(['two', 'four', nan], dtype=object)

In [50]:
print(df_auto[df_auto["body-style"] == "sedan"]["num-of-doors"].value_counts())

num-of-doors
four    79
two     14
Name: count, dtype: int64

In [55]:
df_auto.loc[df_auto["num-of-doors"].isnull(), "num-of-doors"] = "four"
df_auto

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
200,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

## Abbiamo il seguente DataFrame che raccoglie le misurazioni di un sensore che misura la temperatura atmosferica giornaliera:

import numpy as np, pandas as pd temp = pd.DataFrame({"Giorno": [0, 1, 2, 3, 4, 5, 6 7, 8, 9, 10, 11, 12], "Temperature": [18, 19, 18, np.nan, 21, 20, 20, np.nan, 21, 23, np.nan, 23, 24]})

## Il sensore a volte non funziona, dunque alcuni dati sono mancanti: quale sarebbe la migliore strategia per gestirli?

In [58]:
import numpy as np
import pandas as pd

temp = pd.DataFrame({
    "Giorno": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    "Temperature": [18, 19, 18, np.nan, 21, 20, 20, np.nan, 21, 23, np.nan, 23, 24]
})

In [59]:
temp["Temperature"] = temp["Temperature"].interpolate()
print(temp)

    Giorno  Temperature
0        0         18.0
1        1         19.0
2        2         18.0
3        3         19.5
4        4         21.0
5        5         20.0
6        6         20.0
7        7         20.5
8        8         21.0
9        9         23.0
10      10         23.0
11      11         23.0
12      12         24.0

## Nel pacchetto os della standard library c'è la funzione os.listdir() che permette di avere la lista dei nomi di file all'interno di una directory; senza input di default li cerca nella directory di lavoro corrente, altrimenti si può passare un path per esaminare una directory specifica, ad esempio os.listdir("mio_progetto/beginner_datasets/")

## Nella directory dei beginner_datasets, quali sono i dataset che contengono dati nulli? 
Dovremo usare un ciclo for per esaminare tutti i nomi dei file

In [64]:
import os

path = "../beginner_datasets/"

for file in os.listdir(path):
    print(file)

amazon.csv
anomaly.csv
asia_gdp.csv
automobile.csv
bank.csv
bike.csv
blood.csv
boston.csv
cancer.csv
concrete.csv
credit.csv
diabetes.csv
diamond.csv
elections.csv
electrical_grid.csv
employee.csv
energy.csv
facebook.csv
forest.csv
france.csv
germany.csv
glass.csv
gold.csv
heart.csv
heart_disease.csv
hepatitis.csv
house.csv
income.csv
insurance.csv
ipl.csv
iris.csv
jewellery.csv
juice.csv
kiva.csv
mice.csv
migration.csv
nba.csv
parkinsons.csv
pokemon.csv
poker.csv
population.csv
public_health.csv
pycaret_datasets.xlsx
questions.csv
satellite.csv
seeds.csv
spx.csv
traffic.csv
tweets.csv
wholesale.csv
wikipedia.csv
wine.csv

Dovremo selezionare solo i nomi di file con estensione .csv (quindi usare un costrutto if)

In [ ]:
import os

path = "../beginner_datasets/"

for file in os.listdir(path):
    if file.endswith(".csv"): 
        print(file)

amazon.csv
anomaly.csv
asia_gdp.csv
automobile.csv
bank.csv
bike.csv
blood.csv
boston.csv
cancer.csv
concrete.csv
credit.csv
diabetes.csv
diamond.csv
elections.csv
electrical_grid.csv
employee.csv
energy.csv
facebook.csv
forest.csv
france.csv
germany.csv
glass.csv
gold.csv
heart.csv
heart_disease.csv
hepatitis.csv
house.csv
income.csv
insurance.csv
ipl.csv
iris.csv
jewellery.csv
juice.csv
kiva.csv
mice.csv
migration.csv
nba.csv
parkinsons.csv
pokemon.csv
poker.csv
population.csv
public_health.csv
questions.csv
satellite.csv
seeds.csv
spx.csv
traffic.csv
tweets.csv
wholesale.csv
wikipedia.csv
wine.csv

Nel corpo dovremo leggere di volta in volta il file in esame, e caricarlo in un DataFrame con la funzione .read_csv()

In [69]:
import os
import pandas as pd

path = "../beginner_datasets/"

for file in os.listdir(path):
    if file.endswith(".csv"):
        df = pd.read_csv(path + file)

Sul DataFrame dovremo utilizzare il metodo .isna() per trovare la maschera booleana dei dati nulli

In [70]:
import os
import pandas as pd

path = "../beginner_datasets/"

for file in os.listdir(path):
    if file.endswith(".csv"):
        df = pd.read_csv(path + file)
        mask_null = df.isna()

Dovremo contare i dati nulli, utilizzando .sum(); potremmo doverlo utilizzare più di una volta

In [71]:
import os
import pandas as pd

path = "../beginner_datasets/"

for file in os.listdir(path):
    if file.endswith(".csv"):
        df = pd.read_csv(path + file)
        mask_null = df.isna()

        null_per_col = mask_null.sum()
        total_null = null_per_col.sum()

Dovremo stampare, o memorizzare in una list, solo i nomi dei file che contengono dati nulli

In [72]:
import os
import pandas as pd

path = "../beginner_datasets/"
dataset_con_nulli = []

for file in os.listdir(path):
    if file.endswith(".csv"):
        df = pd.read_csv(path + file)
        mask_null = df.isna()
        total_null = mask_null.sum().sum()

        if total_null > 0:
            dataset_con_nulli.append(file)

print(dataset_con_nulli)

['automobile.csv', 'elections.csv', 'france.csv', 'hepatitis.csv', 'house.csv', 'income.csv', 'mice.csv', 'nba.csv', 'pokemon.csv', 'population.csv', 'seeds.csv', 'traffic.csv', 'wikipedia.csv']