In [2]:
!pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\jonathan\appdata\local\programs\python\python314\lib\site-packages (1.2.1)

Esercizio 1/3 Estraiamo la tabella dimproduct dal database AdventureWorks, e valutiamo quanto segue: 
• Quanti dati ci sono in totale? 
• Quali sono i metadati? 
• Stampiamo il primo elemento 
• Stampiamo l'ultimo elemento 
• Riusciamo a stampare cinque elementi a caso? 
• Quali sono i colori disponibili?

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
import os
import dotenv
import sqlalchemy
import pandas as pd

dotenv.load_dotenv(override=True, dotenv_path="credenziali.env")

username = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
host = os.getenv("DB_HOST")
dbname = os.getenv("DB_NAME")

connection_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
print(username, password, host, dbname)
db_engine = sqlalchemy.create_engine(connection_string)
query = "SELECT * FROM dimproduct"
df = pd.read_sql(query, db_engine)

studente_dapt Ep1c0d3!!D4t4**4n4lys1s epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com AdventureWorksDW

In [8]:
# Quanti dati ci sono in totale?
df.shape

(606, 36)

In [9]:
# Quali sono i metadati?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             606 non-null    int64
 1   ProductAlternateKey    606 non-null    object
 2   ProductSubcategoryKey  397 non-null    float64
 3   WeightUnitMeasureCode  282 non-null    object
 4   SizeUnitMeasureCode    253 non-null    object
 5   EnglishProductName     606 non-null    object
 6   SpanishProductName     606 non-null    object
 7   FrenchProductName      606 non-null    object
 8   StandardCost           397 non-null    float64
 9   FinishedGoodsFlag      606 non-null    int64
 10  Color                  606 non-null    object
 11  SafetyStockLevel       606 non-null    int64
 12  ReorderPoint           606 non-null    int64
 13  ListPrice              395 non-null    float64
 14  Size                   299 non-null    object
 15  SizeRange              606 non-null    object
 16  Weight                 282 non-null    float64
 17  DaysToManufacture      606 non-null    int64
 18  ProductLine            380 non-null    object
 19  DealerPrice            395 non-null    float64
 20  Class                  330 non-null    object
 21  Style                  301 non-null    object
 22  ModelName              397 non-null    object
 23  LargePhoto             606 non-null    object
 24  EnglishDescription     396 non-null    object
 25  FrenchDescription      396 non-null    object
 26  ChineseDescription     396 non-null    object
 27  ArabicDescription      396 non-null    object
 28  HebrewDescription      396 non-null    object
 29  ThaiDescription        396 non-null    object
 30  GermanDescription      396 non-null    object
 31  JapaneseDescription    396 non-null    object
 32  TurkishDescription     396 non-null    object
 33  StartDate              606 non-null    datetime64[ns]
 34  EndDate                200 non-null    datetime64[ns]
 35  Status                 406 non-null    object
dtypes: datetime64[ns](2), float64(5), int64(5), object(24)
memory usage: 170.6+ KB

In [11]:
# Stampiamo il primo elemento
df.head(1)

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [ ]:
# Stampiamo l’ultimo elemento
df.tail(1)

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [ ]:
# Riusciamo a stampare cinque elementi a caso?
df.sample(5)

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
266,267,FR-R38R-52,14.0,LB,CM,"LL Road Frame - Red, 52","Cuadro de carretera GB: rojo, 52","Cadre de vélo de route LL - rouge, 52",187.16,1,...,LL 车架提供了安全舒适的骑乘，经济实惠的铝制车架提供了卓越的避震功能。,يوفر الهيكل LL Frame قيادة آمنة ومريحة، مع توف...,"מסגרת ה- LL מספקת רכיבה בטוחה ונוחה ועם זאת, מ...",เฟรม LL ให้ความปลอดภัยและสบายขณะขับขี่ พร้อมทั...,Mit dem LL-Rahmen fahren Sie sicher und komfor...,LL フレームは、安全で快適に乗ることができ、値打ち価格のアルミニウム フレームで優れた衝撃...,"""LL Kadro güvenli ve konforlu sürüş sunar, değ...",2012-07-01,2008-12-27,None
458,459,SB-M891-S,18.0,None,None,"Men's Bib-Shorts, S",,,37.12,1,...,专为 AWC 赛车队设计，配有固定扣带、湿度控制器、麂皮垫和腿夹。,مصممة لفريق AWC مع أشرطة ثابتة، وتحكم في الرطو...,"מעוצב עבור הקבוצה של AWC עם רצועות הידוק, בקרת...",ได้รับการออกแบบสำหรับทีม AWC พร้อมสายรัด ตัวคว...,"""Konzipiert für das AWC-Team mit Gummizug, atm...",AWC チーム用に設計され、外れにくいストラップ、湿度調整機能、シャモア パッド、レッグ グ...,"""Yerinden oynamayan askıları, nem kontrolü, pe...",2012-07-01,2008-12-27,None
300,301,FR-M94B-46,12.0,LB,CM,"HL Mountain Frame - Black, 46",,,617.03,1,...,每个车架都是在我们位于 Bothell 的工厂中手工制作，具有高质量山地车架所必需的最佳直径...,وقد تم تصنيع كل هيكل من تلك الهياكل يدويًا في ...,"כל מסגרת מיוצרת ידנית במפעל שלנו ב- Bothell, ל...",เฟรมแต่ละชิ้นผ่านการสร้างด้วยมือในโรงงาน Bothe...,"""Jeder Rahmen wird in unserem Werk in Braunsfe...",各フレームは、Bothell 工場で最高級のマウンテン バイクのフレームに必要な最適径および...,"""Her bir kadro Bothell tesisimizde, birinci sı...",2011-07-01,2007-12-28,None
7,8,CA-7457,NaN,None,None,HL Crankarm,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
325,326,BK-R50R-44,2.0,LB,CM,"Road-650 Red, 44","Carretera: 650, roja, 44","Vélo de route 650 rouge, 44",413.15,1,...,此自行车经济实惠，具有我们的高档车型所拥有的许多功能。相同的车灯、刚架以及我们驰名业界的快速...,إنها دراجة ذات سعر مناسب لإمكاناتها كما تتمتع ...,אופניים המהווים תמורה נאותה למחירם ובעלי רבות ...,จักรยานที่ให้ความคุ้มค่า ด้วยคุณสมบัติพิเศษมาก...,"""Kostengünstiges Rad mit vielen Funktionen uns...",最高級モデルの特色の多くを備えた値打ち価格の自転車です。ハイエンド クラスに匹敵する軽量高剛...,Değerine uygun olarak fiyatlandırılan bisiklet...,2011-07-01,2007-12-28,None

In [ ]:
# Quali sono i colori disponibili?
df["Color"].unique()

array(['NA', 'Black', 'Silver', 'Red', 'White', 'Blue', 'Multi', 'Yellow',
       'Grey', 'Silver/Black'], dtype=object)

Esercizio 2/3 
• In media quanto pesano i prodotti (per questo esercizio, ignoriamo l'unità di misura, ma usiamo solo i valori della colonna relativa)? 
• Quanto pesa il più leggero? 
• Quanto pesa il più pesante? 
• Quanti prodotti pesano più di 100? 
• Quanto costano in media i prodotti (colonna DealerPrice)? 
• Quali sono i quartili dei prezzi?

In [ ]:
# In media quanto pesano i prodotti 
df["Weight"].mean()

np.float64(56.1932269503546)

In [ ]:
# Quanto pesa il più leggero? 
df["Weight"].min()

np.float64(2.12)

In [ ]:
# Quanto pesa il più pesante?
df["Weight"].max()

np.float64(1050.0)

In [13]:
# Quanti prodotti pesano più di 100?
df[df["Weight"] > 100].shape[0]

28

In [ ]:
# Quanto costano in media i prodotti (DealerPrice)?
df["DealerPrice"].mean()

np.float64(448.5970597468353)

In [14]:
# Quali sono i quartili dei prezzi?
df["DealerPrice"].describe()

count     395.000000
mean      448.597060
std       503.225071
min         1.374000
25%        41.994000
50%       218.454000
75%       722.594900
max      2146.962000
Name: DealerPrice, dtype: float64

Esercizio 3/3 
• Qual è il prezzo medio per i prodotti di colore blu? 
• Qual è il prezzo medio per i prodotti di colore rosso o nero? 
• Qual è il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg? 
• Qual è il nome inglese e il costo di produzione (StandardCost) di tutti i prodotti di taglia 42, peso oltre i 10 Kg e colore argento? 
• Visualizziamo lo StandardCost e il DealerPrice degli ultimi 20 elementi del dataset: quali sono le differenze? C'è un pattern? C'è qualche elemento che non lo segue?

In [ ]:
# Qual è il prezzo medio per i prodotti di colore blu? 
df[df["Color"] == "Blue"]["DealerPrice"].mean()

np.float64(516.0631785714286)

In [ ]:
# Qual è il prezzo medio per i prodotti di colore rosso o nero?
df[df["Color"].isin(["Red", "Black"])]["DealerPrice"].mean()

np.float64(550.2481873684211)

In [ ]:
# Qual è il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg? 
df[(df["Size"] == "42") & (df["Weight"] > 10)]["DealerPrice"].max()

np.float64(2039.994)

In [ ]:
# Qual è il nome inglese e il costo di produzione (StandardCost) di tutti i prodotti di taglia 42, peso oltre i 10 Kg e colore argento? 
df[
    (df["Size"] == "42") &
    (df["Weight"] > 10) &
    (df["Color"] == "Silver")
][["EnglishProductName", "StandardCost"]]

            EnglishProductName  StandardCost
344    Mountain-100 Silver, 42       1912.15
353    Mountain-200 Silver, 42       1117.86
354    Mountain-200 Silver, 42       1265.62
588  Mountain-400-W Silver, 42        419.78
591    Mountain-500 Silver, 42        308.22

In [ ]:
# Visualizziamo lo StandardCost e il DealerPrice degli ultimi 20 elementi del dataset: quali sono le differenze? C'è un pattern? C'è qualche elemento che non lo segue?
df.tail(20)[["StandardCost", "DealerPrice"]]

     StandardCost  DealerPrice
586        419.78      461.694
587        419.78      461.694
588        419.78      461.694
589        419.78      461.694
590        308.22      338.994
591        308.22      338.994
592        308.22      338.994
593        308.22      338.994
594        308.22      338.994
595        294.58      323.994
596        294.58      323.994
597        294.58      323.994
598        294.58      323.994
599        294.58      323.994
600         23.97       32.394
601         44.95       60.744
602         53.94       72.894
603        343.65      323.994
604        343.65      323.994
605        343.65      323.994

Esercizio Tra i beginner datasets scaricabili all'indirizzo https://www.kaggle.com/datasets/ahmettezcantekin/beginner-datasets 
selezioniamo amazon.csv, un dataset contenente una serie di recensioni su Amazon. 
• Valutiamo la dimensione del dataset 
• Visualizziamo dieci righe a caso; 
• Osserviamo quali sono i nomi di colonna; 
• Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a quello delle negative, oppure no?

In [ ]:
import pandas as pd

df_amz = pd.read_csv("amazon.csv")
df_amz.head()

                                          reviewText  Positive
0  This is a one of the best apps acording to a b...         1
1  This is a pretty good version of the game for ...         1
2  this is a really cool game. there are a bunch ...         1
3  This is a silly game and can be frustrating, b...         1
4  This is a terrific game on any pad. Hrs of fun...         1

In [ ]:
# Dimensione del dataset
df_amz.shape

(20000, 2)

In [ ]:
# Dieci righe a caso
df_amz.sample(10)

                                              reviewText  Positive
5012   This is a great app. It was one of the first a...         1
4243   Head to head racing!  Whoohoo!  Oh, wait, you ...         0
9943   This application installed and ran flawlessly ...         1
4668   I am enjoying this application quite a bit. si...         1
8719   I'm a photojournalist on the Gulf Coast. We do...         1
5098   Cool I am always getting lost so this can real...         1
12854  I have a few friends who are Hispanic/ Anglos,...         1
14622  This is a great take on a performer game and o...         1
14875  my kids love it. it has no point,  but it make...         1
3035   it is fun to be a food critic and post up phot...         1

In [ ]:
# Nomi delle colonne
df_amz.columns

Index(['reviewText', 'Positive'], dtype='object')

In [ ]:
# Il dataset è bilanciato? Non è bilanciato, ci sono più recensioni positive che negative
df_amz["Positive"].value_counts()

Positive
1    15233
0     4767
Name: count, dtype: int64

Il dataset diabetes.csv raccoglie persone con diabete o meno, e il valore di diverse variabili fisiologiche dei pazienti. 
• Osserviamone le dimensioni e un'anteprima di cinque righe; 
• Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne; 
• Stampiamo dei descrittori statistici del dataset; 
• Selezioniamo i dati relativi a diverse fasce di età: 20-29, 30-39, 40-50; 
• Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?

In [ ]:
import pandas as pd

df_dia = pd.read_csv("diabetes.csv")
df_dia.head()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
# Osserviamone le dimensioni e un'anteprima di cinque righe
df_dia.shape
df_dia.head()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
# Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne
df_dia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Number of times pregnant                                                  768 non-null    int64
 1   Plasma glucose concentration a 2 hours in an oral glucose tolerance test  768 non-null    int64
 2   Diastolic blood pressure (mm Hg)                                          768 non-null    int64
 3   Triceps skin fold thickness (mm)                                          768 non-null    int64
 4   2-Hour serum insulin (mu U/ml)                                            768 non-null    int64
 5   Body mass index (weight in kg/(height in m)^2)                            768 non-null    float64
 6   Diabetes pedigree function                                                768 non-null    float64
 7   Age (years)                                                               768 non-null    int64
 8   Class variable                                                            768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
# Stampiamo dei descrittori statistici del dataset
df_dia.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
# Selezioniamo i dati relativi a diverse fasce di età: 20-29, 30-39, 40-50
fascia_20_29 = df_dia[(df_dia["Age (years)"] >= 20) & (df_dia["Age (years)"] <= 29)]
fascia_30_39 = df_dia[(df_dia["Age (years)"] >= 30) & (df_dia["Age (years)"] <= 39)]
fascia_40_50 = df_dia[(df_dia["Age (years)"] >= 40) & (df_dia["Age (years)"] <= 50)]

In [ ]:
# Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?
fascia_20_29["Diastolic blood pressure (mm Hg)"].mean()
fascia_30_39["Diastolic blood pressure (mm Hg)"].mean()
fascia_40_50["Diastolic blood pressure (mm Hg)"].mean()

np.float64(74.21428571428571)

Il dataset insurance.csv contiene dati rispetto a caratteristiche e abitudini delle persone, 
e della zona in cui vivono, rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute. 
• Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna; 
• Quali sono le medie di charges rispetto a region? Ci sono differenze significative? 
• E rispetto a smoker? E a sex? 
• Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?

In [ ]:
import pandas as pd

df_ins = pd.read_csv("insurance.csv")

In [ ]:
# Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna
df_ins.shape
df_ins.head()
df_ins.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [ ]:
# Quali sono le medie di charges rispetto a region? Ci sono differenze significative?
df_ins.groupby("region")["charges"].mean()

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [ ]:
# E rispetto a smoker? 
df_ins.groupby("smoker")["charges"].mean()

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [ ]:
# E a sex?
df_ins.groupby("sex")["charges"].mean()

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [ ]:
# Quali sono i descrittori statistici di bmi?
df_ins["bmi"].describe()

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [ ]:
# Quali sono i descrittori statistici di bmi? 
df_ins["bmi_quartile"] = pd.qcut(df_ins["bmi"], 4)

In [ ]:
# Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?
df_ins.groupby("bmi_quartile")["charges"].agg(["min", "mean", "max"])

C:\Users\Jonathan\AppData\Local\Temp\ipykernel_1340\2559325720.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_ins.groupby("bmi_quartile")["charges"].agg(["min", "mean", "max"])

                                    min          mean          max
bmi_quartile
(15.959000000000001, 26.296]  1121.8739  10360.662825  38245.59327
(26.296, 30.4]                1131.5066  11407.831468  62592.87309
(30.4, 34.694]                1135.9407  14358.173081  60021.39897
(34.694, 53.13]               1141.4451  16987.936691  63770.42801

Il dataset pokemon.csv contiene un database di Pokémon, con dati quali nome, tipi di attacco, valori di attacco/difesa/eccetera, e se sono o meno leggendari. 
• Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna; 
• È verosimile che la prima colonna dovrebbe essere un indice? 
• Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano? 
• Se no, settare la prima colonna come indice.

In [ ]:
# Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna
import pandas as pd

df_poke = pd.read_csv("pokemon.csv")

df_poke.shape
df_poke.head()
df_poke.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [ ]:
# È verosimile che la prima colonna dovrebbe essere un indice?
df_poke.iloc[:10, 0]

0    1
1    2
2    3
3    3
4    4
5    5
6    6
7    6
8    6
9    7
Name: #, dtype: int64

In [ ]:
# Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano?
df_poke.index[:10]

RangeIndex(start=0, stop=10, step=1)

In [ ]:
# Se no, settare la prima colonna come indice.
df_poke = pd.read_csv("pokemon.csv", index_col=0)
df_poke.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
# Quali sono i Pokémon leggendari?
df_poke[df_poke["Legendary"] == True]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
# E quali sono i leggendari di tipo 1 Grass?
df_poke[(df_poke["Legendary"] == True) & (df_poke["Type 1"] == "Grass")]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True

In [ ]:
# E leggendari di tipo 1 Ice o Fire?
df_poke[(df_poke["Legendary"] == True) & (df_poke["Type 1"].isin(["Ice", "Fire"]))]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
378,Regice,Ice,NaN,580,80,50,100,100,200,50,3,True
485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
# Trasformiamo la colonna Name nell'indice
df_poke = df_poke.set_index("Name")
df_poke.head()

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
# Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?
df_poke[
    (df_poke["Generation"] == 1) &
    (df_poke["Attack"] > 50) &
    (df_poke["HP"] < 60)
]

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False
Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,False
Paras,Bug,Grass,285,35,70,55,45,55,25,1,False
Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
Dugtrio,Ground,NaN,405,35,80,50,50,70,120,1,False
Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
Mankey,Fighting,NaN,305,40,80,35,35,45,70,1,False
Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
Geodude,Rock,Ground,300,40,80,100,30,30,20,1,False
Graveler,Rock,Ground,390,55,95,115,45,45,35,1,False
Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
Magneton,Electric,Steel,465,50,60,95,120,70,70,1,False
Farfetch'd,Normal,Flying,352,52,65,55,58,62,60,1,False
Doduo,Normal,Flying,310,35,85,45,35,35,75,1,False
Shellder,Water,NaN,305,30,65,100,45,25,40,1,False
Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False
Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
Kingler,Water,NaN,475,55,130,115,50,50,75,1,False
Hitmonlee,Fighting,NaN,455,50,120,53,35,110,87,1,False
Hitmonchan,Fighting,NaN,455,50,105,79,35,110,76,1,False
Koffing,Poison,NaN,340,40,65,95,60,45,35,1,False
Seadra,Water,NaN,440,55,65,95,95,45,85,1,False
Goldeen,Water,NaN,320,45,67,60,35,50,63,1,False
Eevee,Normal,NaN,325,55,55,50,45,65,55,1,False
Kabuto,Rock,Water,355,30,80,90,55,45,55,1,False
Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False